@import url('https://fonts.googleapis.com/css?family=Red%20Rose:700|Red%20Rose:400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
@import "tailwindcss";
@plugin "daisyui";



.bg-c1 {
  background-image: linear-gradient(to right, #34e89e, #0f3443);
}

.bg-c2 {
  background-image: linear-gradient(to right, #360033, #0b8793);
}

.bg-c3 {
  background-image: linear-gradient(to right, #000428, #004e92);
}


.space-grotesk-500 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root[data-theme='light'] {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-theme-primary: #2f65b9;
  --color-theme-primary-light: #0e1e37;
  --color-theme-primary-dark: #1c3c6f;
}

/* :root[data-theme='dark'] {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-theme-primary: #4e8fff;
  --color-theme-primary-light: #1c3c6f;
  --color-theme-primary-dark: #0e1e37;
} */
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button {
  padding: 10px 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #999;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.3s ease;
}

.button.active {
  border: 1px solid #3b82f6;
  /* blue-500 */
  background-color: #1f2937;
  /* gray-800 */
  color: #fff;
}

/* Dark mode */
.dark .button.active {
  background-color: #f3f4f6;
  /* gray-100 */
  color: #111827;
  /* gray-900 */
}



body {
  font-family: 'Red Rose';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Red Rose';
  font-weight: 700;
}

.Navbar {
  backdrop-filter: blur(30px);
  /* box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37); */
  border: 2px solid rgba(255, 255, 255, 0.18);
}


/* From Uiverse.io by SupportHotline */


.button:hover {
  box-shadow:
    inset 0px -6px 18px -6px rgba(3, 15, 20, 1),
    inset 0px 6px 18px -6px rgba(3, 15, 20, 1),
    inset 12px 0px 12px -6px rgba(3, 15, 20, 0),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);
}

.button:active {
  box-shadow:
    inset 0px -12px 12px -6px rgba(3, 15, 20, 1),
    inset 0px 12px 12px -6px rgba(3, 15, 20, 1),
    inset 12px 0px 12px -6px rgba(3, 15, 20, 1),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 1),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);
}

.text {
  color: #d0a756;
  font-weight: 700;
  margin: auto;
  transition: all 0.3s;
  width: fit-content;
}

.button:hover .text {
  transform: scale(0.9);
}

.button:active .text {
  transform: scale(0.8);
}

.input-field {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s ease;
}

/* When hovering over the input */
.input-field:hover {
  border-color: #4f9cff;
  cursor: pointer;
  outline: none;
}

/* When the input is clicked (focused) */
.input-field:focus {
  outline: none;
  border-color: #2563eb;
  /* Blue border */
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
  /* Blue glow effect */
}

.btn-hover {
  width: 200px;
  height: 50px;
  border: 2px solid #007bff;
  color: #007bff;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
  color: #fff;
  background-color: #007bff;
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





.glow-on-hover {
  width: 150px;
  height: 40px;
  outline: none;
  color: var(--btn-text-color, #fff);
  background: var(--btn-bg, #111);
  border: 2px solid var(--btn-border-color, white);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  transition: 0.3s, color 0.3s;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--btn-bg, #111);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

[data-theme='dark'] {
  --btn-bg: #111;
  --btn-text-color: #fff;
  --btn-border-color: white;
}

[data-theme='light'] {
  --btn-bg: white;
  --btn-text-color: #111;
  --btn-border-color: black;
}



.hover-underline {
  font-size: 1rem;
  color: var(--btn-text-color, #fff);
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


[data-theme='dark'] {
  --btn-text-color: #fff;

}

[data-theme='light'] {
  --btn-text-color: #111;
}





[data-theme='dark'] .colorgp {
  background-image: repeating-linear-gradient(175deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 31px, transparent 31px, transparent 35px), repeating-linear-gradient(125deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 31px, transparent 31px, transparent 35px), repeating-linear-gradient(250deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 31px, transparent 31px, transparent 35px), repeating-linear-gradient(106deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 31px, transparent 31px, transparent 35px), linear-gradient(90deg, rgb(80, 111, 183), rgb(119, 93, 250));
}


.text-rotator {
  margin: 0px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 120;
  overflow: hidden;
  animation: bg 5s linear infinite;
}

.dropping-texts {
  display: inline-block;
  width: 1px;
  text-align: left;
  height: 2px;
  vertical-align: -2px;
}

.dropping-texts>div {
  font-size: 0px;
  opacity: 0;
  margin-left: -30px;
  position: absolute;
  font-weight: 30;
  box-shadow: 0px 60px 25px -20px rgba(0, 0, 0, 0.5);
}

.dropping-texts>div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}

.dropping-texts>div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}

.dropping-texts>div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}

.dropping-texts>div:nth-child(4) {
  animation: roll2 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  3% {
    opacity: 1;
    transform: rotate(0deg);
  }

  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  20% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }

  27% {
    font-size: 0px;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 100px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

@keyframes roll2 {
  0% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(-25deg);
  }

  3% {
    opacity: 1;
    transform: rotate(0deg);
  }

  5% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
  }

  30% {
    font-size: inherit;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    transform: rotate(0deg);
  }

  37% {
    font-size: 1500px;
    opacity: 0;
    margin-left: -1000px;
    margin-top: -800px;
  }

  100% {
    font-size: 0px;
    opacity: 0;
    margin-left: -30px;
    margin-top: 0px;
    transform: rotate(15deg);
  }
}

.bg-4 {
  background: linear-gradient(to bottom, #301845, #0a050e);
}

:root {
  --primary: #3B82F6;
  /* Blue-500 */
  --primary-dark: #2563EB;
  /* Blue-600 */
  --gray: #D1D5DB;
  /* Gray-300 */
  --success: #10B981;
  /* Green-500 */
}

* {
  font-family: 'Roboto', sans-serif;
}

.button-container {
  transform: translate(-50%, -50%);
  width: 130px;
  height: 40px;
  text-align: center;
}

.fancy-button {
  outline: none;
  height: 40px;
  width: 130px;
  text-align: center;
  border-radius: 40px;
  background: #fff;
  border: 2px solid var(--primary);
  color: var(--primary);
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  position: relative;
}

.fancy-button::after {
  content: "Post Comment";
}

.fancy-button:hover {
  background: var(--primary);
  color: #fff;
}

.fancy-button:active {
  letter-spacing: 2px;
}

/* Loading */
.fancy-button.onclic {
  width: 40px;
  border-color: var(--gray);
  border-width: 3px;
  font-size: 0;
  border-left-color: var(--primary);
  animation: rotating 2s 0.25s linear infinite;
}

.fancy-button.onclic::after {
  content: "";
}

.fancy-button.onclic:hover {
  background: white;
  color: var(--primary);
}

/* Checkmark */
.fancy-button.validate {
  font-size: 13px;
  color: white;
  background: var(--success);
}

.fancy-button.validate::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

/* Spinner animation */
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}