@import url('https://fonts.googleapis.com/css?family=Red%20Rose:700|Red%20Rose:400');
@import "tailwindcss";
@plugin "daisyui";



.bg-c1 {
  background-image: linear-gradient(to right, #34e89e, #0f3443);
}

.bg-c2 {
  background-image: linear-gradient(to right, #360033, #0b8793);
}

.bg-c3 {
  background-image: linear-gradient(to right, #000428, #004e92);
}


.space-grotesk-500 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root[data-theme='light'] {
  --color-background: #ffffff;
  --color-text: #000000;
  --color-theme-primary: #2f65b9;
  --color-theme-primary-light: #0e1e37;
  --color-theme-primary-dark: #1c3c6f;
}

/* :root[data-theme='dark'] {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-theme-primary: #4e8fff;
  --color-theme-primary-light: #1c3c6f;
  --color-theme-primary-dark: #0e1e37;
} */
@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a.active {
  color: blue;
}



body {
  font-family: 'Red Rose';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Red Rose';
  font-weight: 700;
}

.Navbar {
  backdrop-filter: blur(30px);
  /* box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37); */
  border: 2px solid rgba(255, 255, 255, 0.18);
}


/* From Uiverse.io by SupportHotline */


.button:hover {
  box-shadow:
    inset 0px -6px 18px -6px rgba(3, 15, 20, 1),
    inset 0px 6px 18px -6px rgba(3, 15, 20, 1),
    inset 12px 0px 12px -6px rgba(3, 15, 20, 0),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 0),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);
}

.button:active {
  box-shadow:
    inset 0px -12px 12px -6px rgba(3, 15, 20, 1),
    inset 0px 12px 12px -6px rgba(3, 15, 20, 1),
    inset 12px 0px 12px -6px rgba(3, 15, 20, 1),
    inset -12px 0px 12px -6px rgba(3, 15, 20, 1),
    -1px -1px 6px 0px rgba(54, 69, 75, 1);
}

.text {
  color: #d0a756;
  font-weight: 700;
  margin: auto;
  transition: all 0.3s;
  width: fit-content;
}

.button:hover .text {
  transform: scale(0.9);
}

.button:active .text {
  transform: scale(0.8);
}

.input-field {
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s ease;
}

/* When hovering over the input */
.input-field:hover {
  border-color: #4f9cff;
  cursor: pointer;
  outline: none;
}

/* When the input is clicked (focused) */
.input-field:focus {
  outline: none;
  border-color: #2563eb; /* Blue border */
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3); /* Blue glow effect */
}